@font-face {
  font-family: 'iconfont';  /* project id 2259650 */
  src: url('https://at.alicdn.com/t/font_2259650_oo1huq45pib.eot');
  src: url('https://at.alicdn.com/t/font_2259650_oo1huq45pib.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_2259650_oo1huq45pib.woff2') format('woff2'),
  url('https://at.alicdn.com/t/font_2259650_oo1huq45pib.woff') format('woff'),
  url('https://at.alicdn.com/t/font_2259650_oo1huq45pib.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_2259650_oo1huq45pib.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-06:before {
  content: "\e60c";
}

.icon-weixin:before {
  content: "\e665";
}

.icon-guanbi:before {
  content: "\e61e";
}

